/* Old content
.bg-primary {
    background: rebeccapurple!important;
}
*/
body{background-color:#FFF;color:#000;}
footer li{color:#000;}
.navbar-text {color:#000;}
.card{background-image: url("./backgroundTrensp.png");color:#000;border:1px solid black;}
