{% extends "asso/base.html" %}
{% load static %}
{% load markdown %}

{% block title %}Accueil{% endblock %}
{% block head %}
    <meta name="description" content="Bienvenue au Club BD Manga de l'INSA Lyon ! Ce site présente les actualités de l'association et les livres de la bibliothèques. Vous pouvez faire des recherches avancées pour trouver votre manga, BD ou comics préféré, et vérifier sa disponibilité.">
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-xxl-10">

            <div class="markdown">{{ text_accueil|render_markdown }}</div>

            <div class="d-flex my-5 gap-4 justify-content-center">
                <a class="btn btn-primary" href="{% url 'news list' %}">Voir les actualités</a>
                <a class="btn btn-primary" href="{% url 'library' %}">Explorer la bibliothèque</a>
            </div>

            <img class="col-10 col-md-9 col-xxl-8 center-image" src="{% static 'asso/img/logo_full.png' %}" alt="logo du club"/>

        </div>
    </div>

{% endblock %}
