{% extends "asso/base.html" %}

{% block title %}Actualités{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-xxl-8 d-flex flex-column gap-3">
            {% for news in news_list %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ news.title }}</h4>
                        <p class="text-secondary mb-2 card-subtitle">{{ news.date }}</p>
                        {% if news.summary %}
                            <p class="card-text">{{ news.summary }}</p>
                        {% endif %}
                        <a class="card-link stretched-link" href="{% url 'news detail' news.slug %}">Lire l'article</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
