{% extends "asso/base.html" %}

{% block title %}Actualités{% endblock %}
{% block head %}
    <meta name="description" content="Dernières actualités du Club BD Manga de l'INSA Lyon. Restez informés des concours, ateliers, événements de l'association, et bien plus encore !">
    <meta property="og:type" content="website" />
{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-xxl-8 d-flex flex-column gap-3">

            <h1 class="mb-3">Actualités</h1>

            {% for news in news_list %}
                {% include "asso/news_card.html" with news=news %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
