{% extends "asso/base.html" %}

{% load static %}
{% load singular %}

{% block title %}Statistiques{% endblock %}
{% block head %}
    <meta name="description" content="Statistiques du Club BD Manga de l'INSA Lyon. Découvrez notre association à travers les chiffres de la bibliothèque: emprunts, inventaire, membres actifs...">
{% endblock %}

{% block content %}


    <div class="row gx-5 gy-4">

        <div class="col-12">
            <h1>Statistiques</h1>
        </div>

        <div class="col-12 col-xxl-7">
            <h2 class="mb-3">Les livres les plus populaires</h2>
            <p>Classement des emprunts depuis 2023</p>
            <ol class="list-group list-group-numbered">
                {% for series in top_series %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <a href="{% url 'series detail' series.code %}" class="text-reset text-decoration-none">{{ series.name }}</a>
                        </div>
                        <span class="badge">{{ series.members_count }} personne{{ series.members_count|pluralize }}</span>
                        <span class="badge">{{ series.loans_count }} emprunt{{ series.loans_count|pluralize }}</span>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-12 col-xxl-5">
            <h2 class="mb-3">Les chiffres du Club</h2>
            <p>L'inventaire n'étant pas terminé, ces statistiques sont sous-estimées.</p>
            <ul class="list-group">
                <li class="list-group-item"><b>{{ books.count }}</b> livre{{ books|pluralize }}</li>
                {% for type, books_by_type in types.items %}
                    {% if books_by_type.exists %}
                        <li class="list-group-item">
                            <b>{{ books_by_type.count }}</b>
                            {% if not type.isupper %}{{ type|lower|singular }}{{ books_by_type|pluralize }}{% else %}{{ type }}{% endif %}</li>
                    {% endif %}
                {% endfor %}
                <li class="list-group-item"><b>{{ series.count }}</b> série{{ series|pluralize }}</li>
                <li class="list-group-item"><b>{{ authors.count }}</b> auteur{{ authors|pluralize }}</li>
                <li class="list-group-item"><b>{{ members.count }}</b> membre{{ members|pluralize }} cette année</li>
                <li class="list-group-item"><b>{{ recent_loans.count }}</b> emprunt{{ recent_loans|pluralize }} cette année</li>
                <li class="list-group-item"><b>{{ new_books.count }}</b> livre{{ new_books|pluralize }} ajouté{{ new_books|pluralize }} à l'inventaire cette année</li>
            </ul>
        </div>

    </div>




{% endblock %}
