{% extends "asso/base.html" %}
{% load static %}

{% block title %}Bibliothèque{% endblock %}
{% block head %}
    <meta name="description" content="Bibliothèque de mangas, BDs et comics du Club BD Manga de l'INSA Lyon. Cherchez un livre par nom ou auteur, filtrez par genre ou medium, et vérifiez la disponibilité des tomes.">
    <meta property="og:type" content="website" />
    <script src="{% static 'inventory/js/series_filter.js' %}"></script>
{% endblock %}

{% block content %}

    <h1 class="mb-4">Bibliothèque du Club</h1>

    <div class="d-flex flex-row flex-wrap my-4 gap-4 mb-4">

        <div>
            <div class="input-group rounded">
                <input id="search-input" type="search" class="form-control" placeholder="Recherche" aria-label="Rechercher par titre ou auteur" aria-describedby="search-addon">
                <button id="clear-button" class="btn btn-outline-primary">Effacer</button>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Filtrer par type de livre">
            <input type="radio" class="btn-check" name="type-select" value="" id="all-types" autocomplete="off" checked/>
            <label class="btn btn-outline-primary" for="all-types">Tout</label>

            {% for type, type_name in types.items %}
                <input type="radio" class="btn-check" name="type-select" value="{{ type }}" id="type-{{ type }}" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="type-{{ type }}">{{ type_name }}</label>
            {% endfor %}
        </div>

        <div>
            <select id="genre-select" class="form-select" aria-label="Filtrer par genre">
                <option value="">Tous les genres</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <select id="language-select" class="form-select" aria-label="Filtrer par langue">
                <option value="">Tous les langues</option>
                {% for language, language_name in languages %}
                    <option value="{{ language }}">{{ language_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <button id="reset-button" type="button" class="btn btn-outline-primary" aria-label="Réinitialiser tous les filtres">
                Réinitialiser
            </button>
        </div>

    </div>

    <div class="d-flex flex-row justify-content-between mb-5">
        <a href="{% url 'stats' %}" class="link-primary">Statistiques</a>
        <p id="results-count" class="my-auto">Chargement...</p>
    </div>

    <div id="series-list-container" class="row g-4 d-flex align-items-stretch">
        <!-- Series will be rendered here by JavaScript -->
    </div>

{% endblock %}
