{% extends "asso/base.html" %}

{% block title %}Séries{% endblock %}

{% block content %}

        <h1>Séries</h1>

        <form action="{% url 'series list' %}" method="get">
            <div class="input-group rounded w-75 mx-1 my-3">
                <input name="search" type="search" class="form-control" placeholder="Recherche" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">rechercher</button>
            </div>
        </form>

        <div class="row">
            {% for series in object_list %}
                <div class="col-sm-3 mx-1 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ series.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-primary">{{ series.authors.all|join:", " }}</h6>
                            <p class="card-text">{{ series.get_type_display }} - {{ series.genre }}</p>
                            <a href="{% url 'series detail' series.id %}" class="btn btn-primary">Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}
