{% extends "asso/base.html" %}

{% block title %}{{ series.name }}{% endblock %}
{% block head %}
    <meta name="description" content="Retrouvez toutes les infos sur {{ series.name }}, {{ series.get_type_display }} disponible à la bibliothèque du Club BD Manga de l'INSA Lyon.">
    <meta property="og:type" content="book" />
{% endblock %}


{% block content %}

    <div class="row mb-4">
        <h1>{{ series.name }}</h1>
    </div>

    <div class="row gy-5">

        <div class="col-xxl-5">

            <div class="row g-3">
                <div class="col-6 col-xxl-12">
                    <div class="text-body-secondary">Auteur{{ series.authors.all|pluralize }}</div>
                    <div>{{ series.authors.all|join:", " }}</div>
                </div>
                <div class="col-6 col-xxl-12">
                    <div class="text-body-secondary">Éditeur{{ series.editors.all|pluralize }}</div>
                    <div>{{ series.editors.all|join:", " }}</div>
                </div>
                <div class="col-6 col-xxl-12">
                    <div class="text-body-secondary">Format</div>
                    <div>{{ series.get_type_display|capfirst }}</div>
                </div>
                <div class="col-6 col-xxl-12">
                    <div class="text-body-secondary">Genre</div>
                    <div>{{ series.genre|capfirst }}</div>
                </div>
                <div class="col-6 col-xxl-12">
                    <div class="text-body-secondary">Langue</div>
                    <div>{{ series.get_language_display }}</div>
                </div>
                <div class="col-6 col-xxl-12">
                    <div class="text-body-secondary">Référence</div>
                    <div>{{ series.call_number }}</div>
                </div>

            </div>

        </div>

        <div class="col-xxl-7">

            <ol class="list-group">
                {% for book in series.book_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div>{{ book.volume_nb }}. {% if book.name %}{{ book.name }}{% else %}{{ book }}{% endif %}</div>
                        </div>
                        {% if book.available %}
                            <span class="badge bg-primary rounded-pill">Disponible</span>
                        {% else %}
                            <span class="badge bg-danger rounded-pill">Emprunté</span>
                        {% endif %}
                    </li>
                {% empty %}
                    <p>Aucun tome ajouté pour le moment.</p>
                {% endfor %}
            </ol>


        </div>

    </div>


{% endblock %}
