<p class="text-end">{{ series_list.count }} résultat{{ series_list|pluralize }}</p>

<div class="row g-4">
    {% for series in series_list %}
        <div class="col-12 col-md-6 col-xxl-4">
            <div class="card book-card">
                <div class="card-body">
                    <h5 class="card-title">{{ series.name }}</h5>
                    <p class="card-subtitle mt-1">{{ series.authors.all|join:", " }}</p>
                    <p class="card-text fst-italic mt-1">{{ series.get_type_display|capfirst }} - {{ series.genre|capfirst }}</p>
                    <a class="card-link stretched-link" href="{% url 'series detail' series.id %}">Détails</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>