{% extends "asso/base.html" %}

{% block title %}{{ series.name }}{% endblock %}

{% block content %}

    <div class="row gy-5 mx-2 mx-sm-0">

        <div class="col-12 col-xxl-6">

            <h2 class="mb-4">{{ series.name }}</h2>

            <div class="d-flex flex-column gap-3">
                <div>
                    <div class="text-body-secondary">Auteur{{ series.authors.all|pluralize }}</div>
                    <div>{{ series.authors.all|join:", " }}</div>
                </div>
                <div>
                    <div class="text-body-secondary">Éditeur{{ series.editor.all|pluralize }}</div>
                    <div>{{ series.editors.all|join:", " }}</div>
                </div>
                <div>
                    <div class="text-body-secondary">Type</div>
                    <div>{{ series.get_type_display|capfirst }}</div>
                </div>
                <div>
                    <div class="text-body-secondary">Genre</div>
                    <div>{{ series.genre|capfirst }}</div>
                </div>
                <div>
                    <div class="text-body-secondary">Langue</div>
                    <div>{{ series.get_language_display }}</div>
                </div>
                <div>
                    <div class="text-body-secondary">Référence</div>
                    <div>{{ series.call_number }}</div>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-xxl-6">

            <h2 class="mb-4">Tomes</h2>


            <ol class="list-group">
                {% for book in series.book_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div>{{ book.volume_nb }}. {% if book.name %}{{ book.name }}{% else %}{{ book }}{% endif %}</div>
                        </div>
                        {% if book.available %}
                            <span class="badge bg-primary rounded-pill">Disponible</span>
                        {% else %}
                            <span class="badge bg-danger rounded-pill">Emprunté</span>
                        {% endif %}
                    </li>
                {% empty %}
                    <p>Aucun tome ajouté pour le moment</p>
                {% endfor %}
            </ol>


        </div>

    </div>


{% endblock %}
