.book-card {
  background-image: radial-gradient(hsl(0, 0%, 50%, 25%) 1px, transparent 0);
  background-size: 30px 30px;
}

h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

.markdown > h1 {
  margin-bottom: 30px;
}
.markdown > h2 {
  margin-top: 35px;
  margin-bottom: 20px;
}
.markdown > h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.markdown > p > img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}

.center-image {
  display: block;
  margin: auto;
}