/*
To edit Bootstrap theme, I compiled it with this example project:
https://github.com/twbs/examples/tree/main/sass-js
My custom Sass is in static/css/bootstrap.scss
Then copy paste css/style.css for the example into static/css/bootstrap.css
*/

.book-card {
  background-image: radial-gradient(hsl(0, 0%, 50%, 25%) 1px, transparent 0);
  background-size: 30px 30px;
}

h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

.markdown h1 {
  margin-top: 45px;
  margin-bottom: 30px;
}
.markdown h2 {
  margin-top: 35px;
  margin-bottom: 20px;
}
.markdown h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.markdown p img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}

.markdown a {
  color:RGBA(var(--bs-primary-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color:RGBA(var(--bs-primary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

.markdown a:hover, .markdown a:focus {
    color: RGBA(108, 77, 162, var(--bs-link-opacity, 1)) !important;
    text-decoration-color: RGBA(108, 77, 162, var(--bs-link-underline-opacity, 1)) !important;
}

.center-image {
  display: block;
  margin: auto;
}
